<ion-header>
  <ion-toolbar>
    <ion-title routerLink='/main/tabs/home'>MindSpace</ion-title>
  </ion-toolbar>
  <!-- nav between login and sign up -->
  <ion-toolbar>
    <ion-segment [(ngModel)]="switch">
      <ion-segment-button value="login">
        <ion-label>Log In</ion-label>
      </ion-segment-button>
      <ion-segment-button value="signup">
        <ion-label>Sign Up</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-page">
  <!-- <ion-button color="success" (click)="onClickFacebook()" expand="block" shape="round">
    <ion-icon name="logo-facebook"></ion-icon>
    CONTINUE WITH FACEBOOK
  </ion-button> -->

  <ion-button color="success" expand="block" shape="round" (click)="authService.GoogleAuth()">
    <ion-icon name="logo-google"></ion-icon>
    CONTINUE WITH GOOGLE
  </ion-button>

  <div [ngSwitch]="switch">
    <ion-list *ngSwitchCase="'login'">
      <ion-text>OR LOGIN WITH EMAIL</ion-text>

      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="text" #userName required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" #userPassword required></ion-input>
      </ion-item>

      <ion-button color="success" (click)="authService.SignIn(userName.value, userPassword.value)" expand="block"
        shape="round">
        LOGIN
      </ion-button>

      <ion-item class="forgotPassword">
        <span routerLink="/auth/forgot-password">Forgot Password?</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'signup'">
      <ion-text>OR SIGN UP WITH EMAIL</ion-text>

      <!-- Inputs with labels -->
      <ion-item>
        <ion-label position="floating">Your Name</ion-label>
        <ion-input type="text" #userName required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="text" #signUpName required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" #userPwd></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label position="floating"> Repeat Password</ion-label>
        <ion-input type="password" #repeatPwd></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-checkbox checked color="success"> </ion-checkbox>
        <p>
          <ion-text>
            I have read the
          </ion-text>
          <ion-text color="success">
            privacy policy
          </ion-text>
        </p>
      </ion-item>

      <!-- TODO:Eric sign up function using django database -->
      <!-- routerLink="/main/tabs/home"  -->
      <ion-button color="success" (click)="authService.SignUp(userName.value, signUpName.value, userPwd.value)"
        expand="block" shape="round"> SIGN UP
      </ion-button>
    </ion-list>
  </div>
</ion-content>
