.home-page {
  text-align: center;
  margin: auto;
}

.bigFrame {
  position: relative;
  margin: auto;
  width: 100vw;
  height: 83vw;
  border-style: hidden;

  #circleFrame {
    position: absolute;
    max-height: 40%;
    max-width: 40%;
  }
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: grey;

  #happyDot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: orange;
  }

  #sadDot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: blue;
  }
  #angerDot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
  }
  #fearDot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: plum;
  }
  #disgustDot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: lightseagreen;
  }
}
