<ion-header>
  <ion-toolbar>
    <ion-title routerLink='/main/tabs/home'>MindSpace</ion-title>
  </ion-toolbar>
  <!-- nav between login and sign up -->
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" id="switchBtn" value="login">
      <!-- <ion-segment-button value="login" routerLink="/login"> -->
      <ion-segment-button value="login">
        <ion-label>Log In</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="signup" routerLink="/signup"> -->
      <ion-segment-button value="signup">
        <ion-label>Sign Up</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="login-page">

  <ion-button color="success" (click)="onClickFacebook()" expand="block" shape="round">
    <ion-icon name="logo-facebook"></ion-icon>
    CONTINUE WITH FACEBOOK
  </ion-button>

  <ion-button color="success" (click)="onClickGoogle()" expand="block" shape="round">
    <ion-icon name="logo-google"></ion-icon>
    CONTINUE WITH GOOGLE
  </ion-button>

  <ion-text>OR LOGIN WITH EMAIL</ion-text>

  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button color="success" (click)="onClickLoginBtn()" expand="block" shape="round">
    LOGIN
  </ion-button>
</ion-content>
