<ion-header>
  <ion-toolbar>
    <ion-title>Timeline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row" *ngIf="authService.userData as user">
    <img
      class="avatar"
      src="{{(user.photoURL) ? user.photoURL : '/assets/demouser.png'}}"
      alt="{{user.displayName}}"
    />
    <!-- TODO: update User name from database if it is not google auth-->
    <h2><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h2>
  </div>
  <ion-item>
    <ion-label class="link" color="primary" routerLink="/auth/dashboard"
      >Go to Dashboard</ion-label
    >
  </ion-item>
  <ion-item>
    <ion-label> {{viewTitle}} </ion-label>
    <ion-buttons end>
      <button ion-button [disabled]="isToday" (click)="today()">Today</button>
      <button ion-button (click)="slidePrev()">Prev</button>
      <button ion-button (click)="slideNext()">Next</button>
    </ion-buttons>
  </ion-item>

  <div style="height: 260px">
    <calendar
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      [showEventDetail]="false"
      (onCurrentDateChanged)="passedDate($event)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      [step]="calendar.step"
    >
    </calendar>
  </div>
  <ion-text *ngIf="matchedReflection">
    <div *ngFor="let m of matchedReflection">{{m}}</div>
  </ion-text>
  <div>
    <h4 style="margin-top: 2em">Identified emotions</h4>
    <!-- emotion list start-->
    <ion-list>
      <ion-item class="link" *ngFor="let u of matchedEmotions">
        <div class="dot" slot="start">
          <div [id]="u.type"></div>
        </div>
        <!-- url link -> explore/emotion.name-->
        <ion-text [routerLink]="['../explore', u.name]">{{u.name}}</ion-text>
        <ion-text slot="end">{{u.times}} times</ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
