<ion-header>
  <ion-toolbar>
    <ion-title>Timeline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row" *ngIf="authService.userData as user">
    <img class="avatar" src="{{(user.photoURL) ? user.photoURL : '/assets/demouser.png'}}" alt="{{user.displayName}}">
    <!-- TODO: update User name from database if it is not google auth-->
    <h2><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h2>
  </div>
  <ion-item>
    <ion-label class="link" color="primary" routerLink="/auth/dashboard">Go to Dashboard</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      {{viewTitle}}
    </ion-label>
    <ion-buttons end>
      <button ion-button [disabled]="isToday" (click)="today()">Today</button>
      <button ion-button (click)="today()">Next</button>
      <button ion-button (click)="today()">Prev</button>


    </ion-buttons>
  </ion-item>
  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" [step]="calendar.step">
  </calendar>
</ion-content>
