<ion-header>
  <ion-toolbar>
    <ion-title>Timeline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="row" *ngIf="authService.userData as user">
    <img class="avatar" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
    <h2><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h2>
  </div>
  <ion-item>
    <ion-label class="link" color="primary" routerLink="/dashboard">Go to Dashboard</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Display timeline is under construction
    </ion-label>
  </ion-item>
</ion-content>