<ion-header>
  <ion-toolbar>
    <ion-title>Mindspace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Image goes here-->

  <!--<ion-button color="primary" (click)="onClickSignUp()">SIGN UP</ion-button>-->

  <!--<ion-button color="primary" routerLink="/signup">SIGN UP</ion-button>-->
  <!--
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" [routerLink]="['/',pageName]"
          >SIGN UP</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text
          >Already have an account?
          <span class="loginBtn" (click)="onClickLogin()"
            >Log in</span
          ></ion-text
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  -->
</ion-content>
