.landing-page {
  text-align: center;

  ion-card {
    position: relative;
  }

  .card-title {
    position: absolute;
    bottom: 10%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    position: absolute;
    bottom: 5%;
    font-size: 1.2em;
    width: 100%;
    color: #fff;
  }
  .loginLink {
    cursor: pointer;
  }

  ion-button {
    margin: 50px auto 20px auto;
    width: 75%;
  }
}
