.landing-page {
  text-align: center;

  ion-card {
    position: relative;
  }

  .card-title {
    margin: 0px;
    padding: 0px;
    font-size: 2em;
  }

  .loginLink {
    cursor: pointer;
  }

  ion-button {
    margin: 30px auto 20px auto;
    width: 75%;
  }
}
